body {
    margin: 0;
    background-color:white;
}

.navbar {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar ul {
    display: flex;
    list-style-type: none; /* remove list dots */
}

.navbar ul li a {
    text-decoration: none;
    margin: 0 10px;
    color:black;
    font-family: sans-serif;
    
}

.navbar ul li a:hover {
    color: red;
}

.main-container {
    background-image: url(images/main.png);
    background-size:100%;
    background-position-y:-700px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    align-items: center;
    background-color: black;
}

span{
    background: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-512.png");
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: animate 3s linear;
}

@keyframes animate {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}

.lorem-container{
    padding: 100px;
}
